# Common
.tox/
*.pyc
/virtualenv
/MANIFEST

# Configs
/minecraftcodex/herobrine/local_settings.py

# CSS

# Database
/minecraftcodex/database/static/lib/bootstrap.css
/minecraftcodex/database/static/lib/responsive.css
/minecraftcodex/database/static/css/*.css
/minecraftcodex/database/static/js/*.js

# Blog
/minecraftcodex/blog/static/js/*.js

# Studio
/minecraftcodex/studio/static/css/*.css
/minecraftcodex/studio/static/js/*.js

# Utils
/utils/miner/classes
/utils/miner/jarfile
/utils/miner/*.jar
/utils/miner/*.json

# Backups and local development
/*.json
/dev_ddbb.sqlite

# Shitty folders
.sass-cache
__pycache__
