{% extends "layout.html" %}

{% block head_title %}
{{ super() }} | About
{% endblock %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <!-- PROJECT SECTION -->
    <img src="/static/images/about/lan.original.jpg" class="pull-right img-polaroid span4" />
    <p>
        This is not intended to be an actual database site (there are already a few), this is a playground
        for a tool I coded to extract information from the minecraft obfuscated code.
    </p>
    <p>
        The tool itself is developed in python, and you can access its codebase 
        <a href="https://github.com/fmartingr/minecraft-jar-miner">at github</a>, 
        play with it and pull request if you want. Any improvement is appreciated.
    </p>
    <p>
        Don't expect a full database in a short-mid term, since I'm really busy with my work and other projects I
        have, but if you want to suggest something, feel free to contact me in the details you have on the footer 
        or via my personal twitter below. Thanks!
    </p>
    <div class="clearfix"></div>

    <!-- PEOPLE SECTION -->
    <h2>Who's behind this?</h2>
    <div class="row">
        <div class="span6">
            <div class="well">
                <img src="https://www.gravatar.com/avatar/49dbfd4eff4d399330de2bc4b03cb334?s=200px" 
                     class="img-circle pull-left" />
                 <div class="span3 pull-right">
                    <h3>Felipe Mart&iacute;n</h3>
                    <p>Developer and minecraft lover.</p>
                    <p>
                        Want to help the awesome minecraft community building a tool to
                        help everyone on its days over <i>minecraftia</i>.
                    <p>
                        <a href="https://twitter.com/fmartingr">
                            <i class="icon-twitter"></i> @fmartingr
                        </a>
                    </p>
                 </div>
                 <div class="clearfix"></div>
            </div>
        </div>
        {# TEMPLATE
        <div class="span6">
            <div class="well">
                <img src="avatar" 
                     class="img-circle pull-left" />
                 <div class="span3 pull-right">
                    <h3>Name</h3>
                    <p>What it does</p>
                    <p>Little text</p>
                    <p>
                        <a href="https://twitter.com/">
                            <i class="icon-twitter"></i> @
                        </a>
                    </p>
                 </div>
                 <div class="clearfix"></div>
            </div>
        </div>
        #}
    </div>
</div>
{% endblock %}
