{% extends "layout.html" %}

{% block content %}
<div class="hero">
    <h1 class="text-center">Minecraft Codex is on alpha!</h1>
    <p class="text-center">
        This site is under construction and very early stage of development.<br />
        It's public in this state so the people can see its progress over time,
        and send feedback/suggestions to the staff.
    </p>
    <p class="text-center">For more details about the project, go to the <a href="{{ url('aboutpage') }}">about section</a>.</p>
    <p class="text-center">Happy minning!</p>
</div>
{% endblock %}
