<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/lib/font-awesome.3.1.1.css" />
    <link rel="stylesheet" href="/static/lib/bootstrap.css" />
    <link rel="stylesheet" href="/static/lib/responsive.css" />
    {% block head %}{% endblock %}
    {% include "head.html" %}
    <title>{% block head_title %}{{ site_title }}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">
                    <a class="btn btn-navbar" data-toggle="collapse" 
                       data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">
                        Minecraft Codex 
                        <sup>alpha! :3</sup>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="{% if section == 'home' %}active{% endif %}">
                                <a href="{{ url('homepage') }}">Home</a>
                            </li>
                            <li class="{% if section == 'versions' %}active{% endif %}">
                                <a href="{{ url('version_list') }}">Versions</a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="pull-right {% if section == 'about' %}active{% endif %}">
                                <a href="{{ url('aboutpage') }}">About the project</a>
                            </li>
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div>      
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="container-fluid">
        <hr style="margin: 0" />
        <div class="pull-left">
            <small>
                MinecraftCodex {% if app_version %}v.{{ app_version }}{% endif %}<br />
                If you have feedback, please use the contact information to the right.
            </small>
        </div>
        <div class="pull-right text-right">
            <a href="http://twitter.com/minecraftcodex">
                <i class="icon-twitter"></i> @minecraftcodex
            </a><br />
            <a href="mailto:minecraftcodex@gmail.com">
                <i class="icon-envelope"></i> Email
            </a>
        </div>
    </footer>
{% if google_analytics %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics }}', 'minecraftcodex.com');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
