{% extends "layout.html" %}

{% block head_title %}
{{ super() }} | Version | {{ version_number }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Minecraft versions</h1>
    <hr />
    <a href="{{ url('versions_list') }}"><i class="icon-arrow-left"></i> Go back</a>
    <h2>{% if status != 'release' %}{{ status }}{% endif %} {{ version_number }}</h2>
    {% if results > 1 %}
    <div class="alert alert-info">This version contains more than one release.</div>
    {% endif %}
    {% for version in items %}
        <hr />
        Released on {{ version.date }}
        {% if version.jarfiles %}
            <h3>Downloads</h3>
            {% for jarfile in version.jarfiles %}
                <a href="{{ jarfile.url }}" class="btn btn-info btn-small">{{ jarfile.description|capitalize }}</a>&nbsp;
            {% endfor %}
        {% endif %}
        <h3>Changelog</h3>
        <p>{{ version.changelog|nl2br }}</p>
    {% endfor %}
</div>
{% endblock %}
