{% extends "layout.html" %}

{% block content %}
    <div class="well">
        <h1>404 - Not found!</h1>
        <p>
            The content you're looking for wasn't found. This may be a broken link,
            an upcoming update or a routing error.<br />
            Wathever that is, rest assured, we've been notified.
        </p>
        {% if request.sentry.id %}
            <p>
                If you need assistance, you may reference this error as 
                <strong>{{ request.sentry.id }}</strong>.
            </p>
        {% endif %}
    </div>
{% endblock %}
