{% extends "layout.html" %}

{% block content %}
<div class="well">
    <h1>Server error!</h1>
    <p>
        Uh oh... something went really wrong. But don't worry! This is most probably
        our fault. Somewhere in the world someone just received an email with this
        problem and is on his way to solve it.<br />
        Sorry for any inconvenience, but remember, this is an alpha!
    </p>
    {% if request.sentry.id %}
        <p>
            If you need assistance, you may reference this error as 
            <strong>{{ request.sentry.id }}</strong>.
        </p>
    {% endif %}
</div>
{% endblock %}
